# encoding: UTF-8

<form>
  <fieldset>
    <legend>
      <%= t("labels.actions.search_head") %>
      <a class='btn btn-mini' href='<%= services_path %>'><i class='icon-refresh' alt='<%= t("labels.actions.reset") %>' title='<%= t("labels.actions.reset") %>'></i> <%= t("labels.actions.reset") %></a>
    </legend>

    <%= form_tag services_path, :method => 'get' do %>

      <label><%= label_tag("[search][name]", t("labels.name")) %></label>
      <%= text_field_tag("[search][name]", params[:search][:name]) %>

      <button type="submit" class="btn btn-info" ><%= t("labels.actions.search") %></button>
    <% end %>
  </fieldset>
</form>
