# encoding: UTF-8

<div id="new-button"><%= link_to_new(new_service_path) %></div>

<table>
  <tr>
    <th><%= t("labels.service.name") %> %></th>
    <th><%= t("labels.service.wage") %> %></th>
    <th id="action" colspan="3"><%= t("labels.actions.head") %></th>
  </tr>

  <% @services.each do |service| %>
    <tr>
      <td><%= service.name %></td>
      <td><%= service.wage %></td>
      <td id="action"><td><%= link_to_show(service) %></td>
      <td id="action"><td><%= link_to_edit(edit_service_path(service)) %></td>
      <td id="action"><td><%= link_to_destroy(service, confirm: t("labels.actions.confirm"), method: :delete) %></td>
    </tr>
  <% end %>
</table>