# encoding: UTF-8

<div class="page-header">
  <h1><%= t("activerecord.models.services")%></h1>
</div>


<div class="row">
  <div class="col-md-1 col-md-offset-8">
    <%= link_to_new(:controller => "services", :action => "new") %>
  </div>
</div>

<div class="row">
  <div class="col-md-9">

    <div class="table-responsive">
      <table class="table table-bordered table-hover table-condensed">
        <tr>
          <th><%= t("labels.service.name") %></th>
          <th><%= t("labels.service.wage") %></th>
          <th id="action" colspan="3"><%= t("labels.actions.head") %></th>
        </tr>

        <% @services.each do |service| %>
          <tr>
            <td><%= service.name %></td>
            <td><%= service.wage %> €</td>
            <td style="width:5%"><%= link_to_show(service) %></td>
            <%= index_link_to_edit(:controller => "services", :action => "edit", :id => service.id) %></td>
            <%= index_link_to_destroy(:controller => "services", :action => "show", :id => service.id) %></td>
          </tr>
        <% end %>
      </table>
    </div>

    <div class="col-md-offset-4"><%= paginate @services %></div>
  </div>

  <div class="col-md-3">
    <%= render "search_bar" %>
  </div>

</div>