# encoding: UTF-8

<div class="page-header">
  <h1><%= t("activerecord.models.service") %> "<%= @service.name %>"</h1>
</div>


<div class="row">
  <div class="col-md-9">

    <div class="table-responsive">
      <table class="table table-bordered table-hover table-condensed">
        <tr>
          <th><%= t("labels.service.name") %></th>
          <td><%= @service.name %></td>
        </tr>
        <tr>
          <th><%= t("labels.service.wage") %></th>
          <td><%= number_to_currency(@service.wage) %></td>
        </tr>
        <tr>
          <th><%= t("labels.service.billable") %></th>
          <td><%= icon_boolean(@service.billable) %></td>
        </tr>
        <tr>
          <th><%= t("labels.universe.comment") %></th>
          <td><%= @service.comment %></td>
        </tr>
      </table>
    </div>

  </div>

  <div class="col-md-1">
    <div class="btn-group-vertical">
      <%= show_link_to_index(:controller => "services", :action => "index") %>
      <%= show_link_to_edit(:controller => "services", :action => "edit", :id => @service.id) %>
      <%= show_link_to_destroy(:controller => "services", :action => "show", :id => @service.id) %>
    </div>
  </div>

</div>


