# encoding: UTF-8

<div class="row">
  <div class="col-md-9">


    <%= form_for(@projects_user, :html => {:class => "form-horizontal", :role => "form"}) do |f| %>
      <% if @projects_user.errors.any? %>

        <div class="alert alert-danger">
          <h4><strong><%= @projects_user.errors.count %> <%= t("errors.form") %></strong></h4>
          <ul>
            <% @projects_user.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="form-group">
        <%= f.label :confirmation_email, t("activerecord.attributes.projects_user.confirmation_email") + " *", :class => "col-lg-2 control-label" %>
        <div class="col-lg-4">
          <div class="input-group">
            <span class="input-group-addon">@</span>
            <%= f.email_field :confirmation_email, :class => "form-control", placeholder: "#{t("activerecord.attributes.projects_user.confirmation_email_explanation")}" %>
          </div>
        </div>
      </div>
      <%= f.hidden_field :project_id, :value => @project.id %>
      <%= f.hidden_field :project_token %>

      <div class="form-group">
        <div class="col-lg-3 col-lg-offset-2">
          <div class="btn-group">
            <button type="submit" class="btn btn-success"><%= t("labels.actions.save") %></button>
            <%= cancel_link %>
          </div>
        </div>
      </div>
      <div class="text-muted col-lg-5 col-lg-offset-1"><%= t("labels.universe.mandatory_field_explanation") %></div>

    <% end %>
  </div>
</div>