# encoding: UTF-8

<%#- if devise_mapping.omniauthable? %>
<%#- resource_class.omniauth_providers.each do |provider| %>
<%#= link_to "Sign in with #{provider.to_s.titleize}", omniauth_authorize_path(resource_name, provider) %>
<%# end -%>
<%# end -%>

<%- if controller_name != 'sessions' %>
  <li><a href="<%= url_for(new_session_path(resource_name)) %>"><%= t("labels.actions.login") %></a></li>
<% end -%>

<%- if devise_mapping.recoverable? && controller_name != 'passwords' %>
    <li><a href="<%= url_for(new_password_path(resource_name)) %>"><%= t("labels.actions.forgot_password") %></a></li>
<% end -%>

<%- if devise_mapping.registerable? && controller_name != 'registrations' %>
    <li><a href="<%= url_for(new_registration_path(resource_name)) %>"><%= t("labels.actions.sign_up") %></a></li>
<% end -%>

<%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
  <li class="divider"></li>
  <li><a href="<%= url_for(new_confirmation_path(resource_name)) %>"><%= t("labels.actions.email_confirmation_new") %></a></li>
<% end -%>