# encoding: UTF-8


<div class="row">
  <div class="col-md-9">


    <%= form_for(@user, :html => {:class => "form-horizontal", :role => "form"}) do |f| %>
      <% if @user.errors.any? %>

        <div class="alert alert-danger">
          <h4><strong><%= @user.errors.count %> <%= t("errors.form") %></strong></h4>
          <ul>
            <% @user.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="form-group">
        <%= f.label :login, t("activerecord.attributes.user.login") + " *", :class => "col-lg-2 control-label" %>
        <div class="col-lg-4"><%= f.text_field :login, :class => "form-control", placeholder: t("activerecord.attributes.user.login_explanation") %></div>
      </div>
      <div class="form-group">
        <%= f.label :firstname, t("activerecord.attributes.user.firstname") + " *", :class => "col-lg-2 control-label" %>
        <div class="col-lg-4"><%= f.text_field :firstname, :class => "form-control", placeholder: "#{t("activerecord.attributes.user.firstname_explanation")}"  %></div>
      </div>
      <div class="form-group">
        <%= f.label :lastname, t("activerecord.attributes.user.lastname") + " *", :class => "col-lg-2 control-label" %>
        <div class="col-lg-4"><%= f.text_field :lastname, :class => "form-control", placeholder: "#{t("activerecord.attributes.user.lastname_explanation")}"  %></div>
      </div>
      <div class="form-group">
        <%= f.label :email, t("activerecord.attributes.user.email") + " *", :class => "col-lg-2 control-label" %>
        <div class="col-lg-4">
          <div class="input-group">
            <span class="input-group-addon">@</span>
            <%= f.email_field :email, :class => "form-control", placeholder: "#{t("activerecord.attributes.user.email_explanation")}" %>
          </div>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :password, t("activerecord.attributes.user.password") + " *", :class => "col-lg-2 control-label" %>
        <div class="col-lg-4"><%= f.password_field :password, :class => "form-control", placeholder: "#{t("activerecord.attributes.user.password_explanation")}" %></div>
      </div>
      <div class="form-group">
        <%= f.label :password_confirmation, t("activerecord.attributes.user.password_cofirmation") + " **", :class => "col-lg-2 control-label" %>
        <div class="col-lg-4"><%= f.password_field :password_confirmation, :class => "form-control", placeholder: "#{t("activerecord.attributes.user.password_cofirmation_explanation")}" %></div>
      </div>
      <div class="form-group">
        <%= f.label :phone_number, t("activerecord.attributes.user.phone_number"), :class => "col-lg-2 control-label" %>
        <div class="col-lg-4"><%= f.text_field :phone_number, :class => "form-control", placeholder: "#{t("activerecord.attributes.user.phone_number_explanation")}" %></div>
      </div>

      <div class="form-group">
        <%= f.label :street, t("activerecord.attributes.user.street"), :class => "col-lg-2 control-label" %>
        <div class="col-lg-3"><%= f.text_field :street, :class => "form-control", placeholder: "#{t("activerecord.attributes.user.street_explanation")}" %></div>
        <div class="col-lg-1"><%= f.text_field :street_number, :class => "form-control", placeholder: "#{t("activerecord.attributes.user.street_number_explanation")}" %></div>
      </div>

      <div class="form-group controls-row">
        <%= f.label :zipcode, t("activerecord.attributes.user.zipcode_and_city"), :class => "col-lg-2 control-label" %>
        <div class="col-lg-2"><%= f.text_field :zipcode, :class => "form-control", placeholder: "#{t("activerecord.attributes.user.zipcode_explanation")}" %></div>
        <div class="col-lg-2"><%= f.text_field :city, :class => "form-control", placeholder: "#{t("activerecord.attributes.user.city_explanation")}" %></div>
      </div>
      <div class="form-group">
        <%= f.label :country, t("activerecord.attributes.user.country"), :class => "col-lg-2 control-label" %>
        <div class="col-lg-4"><div class="form-control">Deutschland</div></div>
      </div>
      <div class="form-group">
        <%= f.label :bank_name, t("activerecord.attributes.user.bank_name"), :class => "col-lg-2 control-label" %>
        <div class="col-lg-4"><%= f.text_field :bank_name, :class => "form-control" %></div>
      </div>
      <div class="form-group">
        <%= f.label :bank_code, t("activerecord.attributes.user.bank_code"), :class => "col-lg-2 control-label" %>
        <div class="col-lg-4"> <%= f.text_field :bank_code, :class => "form-control" %></div>
      </div>
      <div class="form-group">
        <%= f.label :bank_account_number, t("activerecord.attributes.user.bank_account_number"), :class => "col-lg-2 control-label" %>
        <div class="col-lg-4"><%= f.text_field :bank_account_number, :class => "form-control" %></div>
      </div>
      <div class="form-group">
        <%= f.label :tax_number, t("activerecord.attributes.user.tax_number"), :class => "col-lg-2 control-label" %>
        <div class="col-lg-4"><%= f.text_field :tax_number, :class => "form-control" %></div>
      </div>

      <% if current_user.is? :administrator %>
        <%= f.fields_for :users do |builder| %>
          <%= render "role_fields", :f => builder %>
        <% end %>
      <% end %>

      <div class="form-group">
        <%= f.label :comment, t("labels.uiverse.comment"), :class => "col-lg-2 control-label" %>
        <div class="col-lg-4"><%= f.text_area :comment, :class => "form-control", :size => "50x10", placeholder: "#{t("labels.universe.comment_explanation")}" %></div>
      </div>

      <div class="form-group">
        <div class="col-lg-3 col-lg-offset-2">
          <div class="btn-group">
            <button type="submit" class="btn btn-success"><%= t("labels.actions.save") %></button>
            <%= cancel_link %>
          </div>
        </div>
      </div>
      <div class="text-muted col-lg-6 col-lg-offset-1">
        <%= t("labels.universe.mandatory_field_explanation") %><br/>
        <%= t("labels.universe.password_login_explanation") %></div>

    <% end %>
  </div>
</div>