# encoding: UTF-8

<form>
  <fieldset>
    <legend>
      <%= t("labels.actions.search_head") %>
      <a class='btn btn-mini' href='<%= users_path %>'><i class='icon-refresh' alt='<%= t("labels.actions.reset") %>' title='<%= t("labels.actions.reset") %>'></i> <%= t("labels.actions.reset") %></a>
    </legend>
    
    <%= form_tag users_path, :method => 'get' do %>

      <label><%= label_tag("[search][firstname]", t("labels.firstname")) %></label>
      <%= text_field_tag("[search][firstname]", params[:search][:firstname]) %>

      <label><%= label_tag("[search][lastname]", t("labels.lastname")) %></label>
      <%= text_field_tag("[search][lastname]", params[:search][:lastname]) %>

      <button type="submit" class="btn btn-info" ><%= t("labels.actions.search") %></button>
    <% end %>
  </fieldset>
</form>

