# encoding: UTF-8

<div id="new-button"><%= link_to_new(new_user_path) %></div>

<table>
  <tr>
    <th><%= t("labels.person.login") %></th>
    <th><%= t("labels.person.firstname") %></th>
    <th><%= t("labels.person.lastname") %></th>
    <th id="action" colspan="3"><%= t("labels.actions.head") %></th>
  </tr>

  <% @users.each do |user| %>
    <tr>
      <td><%= user.login %></td>
      <td><%= user.firstname %></td>
      <td><%= user.lastname %></td>
      <td><%= link_to_show(user) %></td>
      <td><%= link_to_edit(edit_user_path(user)) %></td>
      <td><%= link_to_destroy(user, confirm: t("labels.actions.confirmate"), method: :delete) %></td>
    </tr>
  <% end %>
</table>