# encoding: UTF-8

<div class="page-header">
  <h1><%= t("activerecord.models.bills")%></h1>
</div>


<div class="row">
  <div class="col-md-1 col-md-offset-8">
    <%= link_to_new(:controller => "bills", :action => "new") %>
  </div>
</div>

<div class="row">
  <div class="col-md-9">

    <div class="table-responsive">
      <table class="table table-bordered table-hover table-condensed">
        <tr>
          <th><%= t("activerecord.attributes.bill.number")%></th>
          <th><%= t("activerecord.attributes.bill.date")%></th>
          <th><%= t("activerecord.attributes.bill.month")%></th>
          <th><%= t("activerecord.attributes.bill.year")%></th>
          <th><%= t("activerecord.attributes.bill.paid")%></th>
          <th><%= t("activerecord.attributes.bill.customer")%></th>
          <th colspan="3"><%= t("labels.actions.head") %></th>
        </tr>

        <% @bills.each do |bill| %>
          <tr>
            <td><%= bill.number %></td>
            <td><%= bill.date %></td>
            <td><%= bill.month %></td>
            <td><%= bill.year %></td>
            <td><%= bill.paid %></td>
            <td><%= bill.customer_id %></td>
            <td style="width:5%"><%= link_to_show(bill) %></td>
            <%= index_link_to_edit(:controller => "bills", :action => "edit", :id => bill.id) %></td>
            <%= index_link_to_destroy(:controller => "bills", :action => "show", :id => bill.id) %></td>
          </tr>
        <% end %>
      </table>
    </div>

    <div class="col-md-offset-4"><%= paginate @bills %></div>
  </div>

  <div class="col-md-3">
    <%= render "search_bar" %>
  </div>

</div>         