# encoding: UTF-8

<%= form_for(@comment) do |f| %>
  <% if @comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comment.errors.count, t("errors.form")) %></h2>

      <ul>
        <% @comment.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, t("labels.customer.name") %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :email, t("labels.customer.email") %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :comment, t("labels.uiverse.comment") %><br />
    <%= f.text_area :comment, :size => "40x10" %>
  </div>
  <%= f.hidden_field :user_id, :value => current_user.id %>

  <div class="actions">
    <%= f.submit %><%= cancel_link %>
  </div>
<% end %>
