<%= form_tag customers_path, :method => 'get' do %>

  <%= label_tag("[search][name]", t("labels.name")) %></br>
  <%= text_field_tag("[search][name]", params[:search][:name]) %></br>

  <%= label_tag("[search][email]", t("labels.email")) %></br>
  <%= text_field_tag("[search][email]", params[:search][:email]) %></br>

  </br>
  <div style="float: left; width: auto;"><%= submit_tag t("labels.actions.search"), :name => nil %></div>

  <% end %>

  <%= button_to(t("labels.actions.reset"), customers_path, :method => 'get') %>

