# encoding: UTF-8

<div class="page-header">
  <h1><%= t("activerecord.models.customers")%></h1>
</div>


<div class="row">
  <div class="col-md-1 col-md-offset-8">
    <%= link_to_new(:controller => "customers", :action => "new") %>
  </div>
</div>

<div class="row">
  <div class="col-md-9">

    <%= paginate @customers %>

    <div class="table-responsive">
      <table class="table table-bordered table-hover table-condensed">
        <tr>
          <th><%= t("labels.customer.name") %></th>
          <th><%= t("labels.customer.email") %></th>
          <th colspan="3"><%= t("labels.actions.head") %></th>
        </tr>

        <% @customers.each do |customer| %>
          <tr>
            <td><%= customer.name %></td>
            <td><%= customer.email %></td>
            <td style="width:5%"><%= link_to_show(customer) %></td>
            <%= index_link_to_edit(:controller => "customers", :action => "edit", :id => customer.id) %></td>
            <%= index_link_to_destroy(:controller => "customers", :action => "show", :id => customer.id) %></td>
          </tr>
        <% end %>
      </table>
    </div>

  </div>

  <div class="col-md-3">
    <%= render "search_bar" %>
  </div>

</div>