# encoding: UTF-8

<div id="new-button"><%= link_to_new(:controller => "customers", :action => "new") %></div>

<%= paginate @customers %>

<table>
  <tr>
    <th><%= t("labels.customer.name") %></th>
    <th><%= t("labels.customer.email") %></th>
    <th id="action" colspan="3"><%= t("labels.actions.head") %></th>
  </tr>

  <% @customers.each do |customer| %>
    <tr>
      <td><%= customer.name %></td>
      <td><%= customer.email %></td>
      <td id="action"><td><%= link_to_show(customer) %></td>
      <td id="action"><td><%= link_to_edit(:controller => "customers", :action => "edit", :id => customer.id) %></td>
      <td id="action"><td><%= link_to_edit(edit_customer_path(customer)) %></td>
      <td id="action"><td><%= link_to_destroy(customer, confirm: t("labels.actions.confirm"), method: :delete) %></td>
    </tr>
  <% end %>
</table>
