# encoding: UTF-8

<div class="form-group">
  <%= f.label :projects, t("labels.roles.projectevaluator"), :class => "col-lg-2 control-label" %>
  <div class="col-lg-4">

    <ul class="list-group">
      <%= link_to_new_evaluator(:controller => "projects_users", :action => "new", :project_id => @project.id) %>
      <% @projects_users.each do |pu| %>
        <% if pu.project_token.present? # not confirmed yet%>
          <li class="list-group-item text-muted">
            <%= pu.confirmation_email %>
          <% else %>
          <li class="list-group-item">
            <%= pu.user.firstname %> <%= pu.user.lastname %>
          <% end %>
          <%= link_to_destroy_evaluator(:controller => "projects_users", :action => "show", :id => pu.id, :project_id => @project.id) %></td>
        </li>
      <% end %>

      <% if @projects_users.present? %>
        Ist der Eintrag <span class="text-muted">grau</span> hinterlegt, hat der <%= t("labels.roles.projectevaluator") %> das Projekt noch nicht bestätigt.
      <% end %>
    </ul>
  </div>
</div>
