# encoding: UTF-8

<form>
  <fieldset>
    <legend>
      <%= t("labels.actions.search_head") %>
      <a class='btn btn-mini' href='<%= projects_path %>'><i class='icon-refresh' alt='<%= t("labels.actions.reset") %>' title='<%= t("labels.actions.reset") %>'></i> <%= t("labels.actions.reset") %></a>
    </legend>

    <%= form_tag projects_path, :method => 'get' do %>

      <label><%= label_tag("[search][name]", t("labels.name")) %></label>
      <%= text_field_tag("[search][name]", params[:search][:name]) %></br>

      <label><%= label_tag("[search][customer]", t("activerecord.models.customer")) %></label>
      <%= select_tag("[search][customer]", options_for_select(@customers.order("name ASC").collect{ |c| [c.name, c.id] }, params[:search][:customer]), :prompt => t("labels.universe.empty_search_option")) %></br>

      <button type="submit" class="btn btn-info" ><%= t("labels.actions.search") %></button>
    <% end %>
  </fieldset>
</form>
