# encoding: UTF-8

<div id="new-button"><%= link_to_new(:controller => "projects", :action => "new") %></div>

<%= paginate @projects %>

<table>
  <tr>
    <th><%= t("labels.project.name") %></th>
    <th><%= t("activerecord.models.customer") %></th>
    <th id="action" colspan="3"><%= t("labels.actions.head") %></th>
  </tr>

  <% @projects.each do |project| %>
    <tr>
      <td><%= project.name %></td>
      <td><%= project.customer.name %></td>
      <td id="action"><td><%= link_to_show(project) %></td>
      <td id="action"><td><%= link_to_edit(:controller => "projects", :action => "edit", :id => project.id) %></td>
      <td id="action"><td><%= link_to_destroy(project, confirm: t("labels.actions.confirm"), method: :delete) %></td>
    </tr>
  <% end %>
</table>