# encoding: UTF-8

<div class="page-header">
  <h1><%= t("activerecord.models.project") %> "<%= @project.name %>"</h1>
</div>


<div class="row">
  <div class="col-md-9">

    <div class="table-responsive">
      <table class="table table-bordered table-hover table-condensed">
        <tr>
          <th><%= t("labels.project.name") %></th>
          <td><%= @project.name %></td>
        </tr>
        <tr>
          <th><%= t("activerecord.models.customer") %></th>
          <td><%= @project.customer.name %></td>
        </tr>
        <tr>
          <th><%= t("activerecord.attributes.project.timebudget") %></th>
          <td><%= @project.timebudget %></td>
        </tr>
        <tr>
          <th><%= t("activerecord.attributes.project.wage") %></th>
          <td><%= number_to_currency(@project.wage) %></td>
        </tr>
        <tr>
          <th><%= t("labels.roles.projectevaluator") %></th>
          <% if @projects_users.present? %>
              <% @projects_users.each do |pu| %>
                  <% if pu.project_token.present? # not confirmed yet       %>
                      <td class="list-group-item text-muted">
                        <%= pu.confirmation_email %>
                  <% else %>
                      <td class="list-group-item">
                        <%= pu.user.firstname %> <%= pu.user.lastname %>
                  <% end %>
                  </td>
              <% end %>
          <% else # no projects_user     %>
              <td class="list-group-item">
                <%= link_to(t("activerecord.attributes.project.new_time_evaluator"), controller: "projects", action: "edit", id: @project.id) %>
              </td>
          <% end %>
        </tr>
        <tr>
          <th><%= t("labels.universe.comment") %></th>
          <td><%= @project.comment %></td>
        </tr>
      </table>
    </div>

  </div>

  <div class="col-md-1">
    <div class="btn-group-vertical">
      <%= show_link_to_index(:controller => "projects", :action => "index") %>
      <% if @project.archived? %>
          <%= show_link_to_restore(:controller => "projects", :action => "restore", :id => @project.id) %>
      <% else %>
          <%= show_link_to_archive_confirm(t("activerecord.attributes.project.restore_warning"), :controller => "projects", :action => "archive", :id => @project.id) %>
          <%= show_link_to_edit(:controller => "projects", :action => "edit", :id => @project.id) %>
      <% end %>
      <%= show_link_to_destroy(:controller => "projects", :action => "show", :id => @project.id) %>
    </div>
  </div>

</div>



