# encoding: UTF-8

<p>Hallo <%= @project_evaluator.firstname %> <%= @project_evaluator.lastname %>,</p>

<p>
  <%= @time_tracker.firstname %> <%= @time_tracker.lastname %>  hat Sie zum Auswerten von Zeiten einem Projekt hinzugefügt.
</p>

<p>
  Sie können sich wie gewohnt mit Ihrem Account anmelden.<br/>
  Im Menüpunkt "<%= t('activerecord.models.reports') %>" wurde Ihnen das Projekt hinzugefügt.
</p>

<p>
  <%= link_to 'Passwort ändern', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %>
</p>

