# encoding: ASCII

<p>Hallo <%= @project_evaluator.firstname.encode("ASCII", :invalid => :replace, :undef => :replace) %> <%= @project_evaluator.lastname.encode("ASCII", :invalid => :replace, :undef => :replace) %>,</p>

<p>
  <%= @time_tracker.firstname.encode("ASCII", :invalid => :replace, :undef => :replace) %> <%= @time_tracker.lastname.encode("ASCII", :invalid => :replace, :undef => :replace) %>  hat Sie zum Auswerten des Projektes "<%= @project.name.encode("ASCII", :invalid => :replace, :undef => :replace) %>" hinzugefuegt.
</p>

<p>
  Sie koennen sich wie gewohnt mit Ihrem Account anmelden.<br/>
  Es wurde Ihnen ein Menuepunkt hinzugefuegt.
</p>