# encoding: UTF-8

<p>Hallo <%= @projects_user.unknown_email %>,</p>

<p>
  <%= @time_tracker.firstname %> <%= @time_tracker.lastname %> hat Sie zum Auswerten des Projektes "<%= @project.name %>" hinzugefügt.
</p>

<p>
  Haben Sie noch keinen Account? Registrieren Sie sich, um die Zeiten auswerten zu können:<br/>
  <%= link_to "Registrierung", new_registration_path(:user) %>
</p>

<p>
  Sind sie bereits registriert oder haben Sie Ihre Registrierung gerade abgeschlossen?<br/>
  Mit folgendem Link können Sie das Projekt zu Ihrem Account hinzufügen:<br/>
  <%= link_to "Projekt hinzufügen", :controller => "projects_users", :action => "confirm_project_evaluator", :project_token => @projects_user.project_token %>
</p>