# encoding: UTF-8

<div class="page-header">
  <h1>
    <%= t("activerecord.models.reports")%>
    <% if @evaluate_page %>
      <small><%= t("activerecord.models.project") %>: <strong><%= @projects_user.project.name %></strong>, <%= t("labels.roles.timetracker") %>: <strong><%= @projects_user.project.customer.user.firstname %> <%= @projects_user.project.customer.user.lastname %></strong></small>  
    <% end %>
  </h1>
</div>

<div class="row">
  <div class="col-md-2 col-md-offset-7">
    <div class="btn-group">
      <% if @reports.present?  %>
        <a class="btn btn-info" href="<%= url_for(:action => "index", :data => params[:search], :projects_user => params[:projects_user], :format => :csv) %>" target="_blank">
          <span class="glyphicon glyphicon-cloud-download" alt="<%= t("labels.actions.download") %>" title="<%= t("labels.actions.download_csv_explanation") %>"></span>
          <%= t("labels.actions.download") %>
        </a>
      <% end %>
      <% if @evaluate_page %>
        <a class='btn btn-danger' href='<%= url_for(:controller => "projects_users", :action => "show", :id => @projects_user.id)%>' data-confirm='<%= t("labels.actions.confirm") %>' data-method='delete' rel='nofollow'>
          <span class="glyphicon glyphicon-off" alt="<%= t("activerecord.actions.projects_user.destroy") %>" title="<%= t("activerecord.actions.projects_user.destroy_explanation") %>"></span>
          <%= t("activerecord.actions.projects_user.destroy") %>
        </a>
      <% else %>
        <%= link_to_new(:controller => "reports", :action => "new") %>
      <% end %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-9">

    <div class="table-responsive">
      <table class="table table-bordered table-hover table-condensed">
        <tr>
          <th><%= t("labels.report.date") %></th>
          <th><%= t("activerecord.models.customer") %></th>
          <th><%= t("activerecord.models.project") %></th>
          <th><%= t("activerecord.models.service") %></th>
          <% unless @evaluate_page %>
            <th><%= t("labels.service.wage") %></th>
          <% end %>
          <th><%= t("labels.report.duration") %></th>
          <th colspan="3"><%= t("labels.actions.head") %></th>
        </tr>

        <% if @reports.empty? %>
          <tr><td colspan="<%= @evaluate_page ? 8:9 %>" class="text-muted"><%= t("labels.universe.no_entry") %> </td></tr>
        <% else %>
          <% @reports.each do |report| %>
            <tr>
              <td><%= report.date %></td>
              <td><%= truncate(get_customer_of_report(report), :length => 25) %></td>
              <td><%= truncate(report.project.name, :length => 25) %></td>
              <td><%= truncate(report.service.name, :length => 25) %></td>
              <% unless @evaluate_page %>
                <td><%= report.service.wage %> €</td>
              <% end %>
              <td><%= report.duration %></td>
              <td style="width:5%"><%= link_to_show(:controller => "reports", :action => "show", :id => report.id, :projects_user => params[:projects_user]) %></td>
              <% unless @evaluate_page %>
                <%= index_link_to_edit(:controller => "reports", :action => "edit", :id => report.id) %>
                <%= index_link_to_destroy(:controller => "reports", :action => "show", :id => report.id) %>
              <% end %>
            </tr>
          <% end %>
        <% end %>
      </table>
    </div>

    <div class="col-md-offset-4"><%= paginate @reports %></div>
  </div>

  <div class="col-md-3">
    <%= render "search_bar" %>
  </div>

</div>