# encoding: UTF-8

<div class="page-header">
  <h1><%= t("activerecord.models.reports")%></h1>
</div>


<div class="row">
  <div class="col-md-2 col-md-offset-7">
    <div class="btn-group">
      <a class="btn btn-info" href="<%= url_for(:action => "index", :data => params[:search], :format => :csv) %>">
        <span class="glyphicon glyphicon-cloud-download" alt="<%= t("labels.actions.download") %>" title="<%= t("labels.actions.download_csv_explanation") %>"></span>
        <%= t("labels.actions.download") %>
      </a>
      <%= link_to_new(:controller => "reports", :action => "new") %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-9">

    <div class="table-responsive">
      <table class="table table-bordered table-hover table-condensed">
        <tr>
          <th><%= t("labels.report.date") %></th>
          <th><%= t("activerecord.models.customer") %></th>
          <% if current_user.is? :project_evaluator %>
            <th><%= t("activerecord.models.project") %></th>
          <% else %>
            <th><%= t("labels.service.wage") %></th>
          <% end %>
          <th><%= t("labels.report.duration") %></th>
          <th colspan="3"><%= t("labels.actions.head") %></th>
        </tr>

        <% @reports.each do |report| %>
          <tr>
            <td><%= report.date %></td>
            <td><%= get_customer_of_report(report) %></td>
            <% if current_user.is? :project_evaluator %>
              <td><%= truncate(report.project.name, :length => 10) %></td>
            <% else %>
              <td><%= report.service.wage %></td>
            <% end %>
            <td><%= report.duration %></td>
            <td style="width:5%"><%= link_to_show(report) %></td>
            <%= index_link_to_edit(:controller => "reports", :action => "edit", :id => report.id) %>
            <%= index_link_to_destroy(:controller => "reports", :action => "show", :id => report.id) %>
          </tr>
        <% end %>
      </table>
    </div>

    <div class="col-md-offset-4"><%= paginate @reports %></div>
  </div>

  <div class="col-md-3">
    <%= render "search_bar" %>
  </div>

</div>