# encoding: UTF-8

<div class="page-header">
  <h1>Eintrag vom <%= @report.date %></h1>
</div>


<div class="row">
  <div class="col-md-9">

    <div class="table-responsive">
      <table class="table table-bordered table-hover table-condensed">
        <tr>
          <th><%= t("labels.report.date") %></th>
          <td><%= @report.date %></td>
        </tr>
        <tr>
          <th><%= t("labels.report.duration") %></th>
          <td><%= @report.duration %> <%= t("labels.datetime.hours") %></td>
        </tr>
        <tr>
          <th><%= t("labels.report.wage") %></th>
          <td><%= @report.get_wage %></td>
        </tr>
        <tr>
          <th><%= t("labels.report.income") %></th>
          <td><%= @report.get_income %></td>
        </tr>
        <tr>
          <th><%= t("activerecord.models.project") %></th>
          <td><%= @report.project.name %></td>
        </tr><tr>
          <th><%= t("activerecord.models.service") %></th>
          <td><%= @report.service.name %></td>
        </tr>
        <tr>
          <th><%= t("labels.universe.comment") %></th>
          <td><%= @report.comment %></td>
        </tr>
      </table>
    </div>

  </div>

  <div class="col-md-1">
    <div class="btn-group-vertical">
      <%= show_link_to_index(:controller => "reports", :action => "index", :projects_user => params[:projects_user]) %>
      <% unless @evaluate_page %>
        <%= show_link_to_edit(:controller => "reports", :action => "edit", :id => @report.id) %>
        <%= show_link_to_destroy(:controller => "reports", :action => "show", :id => @report.id) %>
      <% end %>
    </div>
  </div>

</div>




