# encoding: UTF-8

<%  if @active_menu == "report" %>
  <li class="active"><%= link_to t('activerecord.models.reports'), reports_path, :class => "nav" %></li>
<% else %>
  <li class="nav"><%= link_to t('activerecord.models.reports'), reports_path %></li>
<% end %>

<%  if @active_menu == "service" %>
  <li class="active"><%= link_to t('activerecord.models.services'), services_path %></li>
<% else %>
  <li class="nav"><%= link_to t('activerecord.models.services'), services_path %></li>
<% end %>

<%  if @active_menu == "project" %>
  <li class="active"><%= link_to t('activerecord.models.projects'), projects_path %></li>
<% else %>
  <li class="nav"><%= link_to t('activerecord.models.projects'), projects_path %></li>
<% end %>

<%  if @active_menu == "customer" %>
  <li class="active"><%= link_to t('activerecord.models.customers'), customers_path %></li>
<% else %>
  <li class="nav"><%= link_to t('activerecord.models.customers'), customers_path %></li>
  <% end %>


<% if current_user.present? %>
  <%  @active_menu == "user" ? css_user_class = "active":css_user_class = "nav"  %>
  <% if current_user.is? :administrator %>
    <li class=<%= css_user_class %>><%= link_to t('activerecord.models.users'), :controller => "users", :action => "adm_index" %></li>
  <% elsif current_user.is? :time_tracker %>
    <li class=<%= css_user_class %>><%= link_to t('labels.roles.projectevaluator'), :controller => "users", :action => "tt_index" %></li>
  <% elsif current_user.is? :project_evaluator %>
    <li class=<%= css_user_class %>><%= link_to t('labels.person.my_account'), :controller => "users", :action => "pe_show" %></li>

  <% end %>
<% end %>
