# encoding: UTF-8

<% if user_signed_in? %>
	<% @active_menu == "user" ? css_user_class = "active":css_user_class = "nav"  %>
	<% if current_user.is? :administrator || :time_tracker %>
		<li class='<% if @active_menu == "report" ? "active" : "nav" %>'><%= link_to t('activerecord.models.reports'), reports_path %></li>
		<li class='<% if @active_menu == "project" ? "active" : "nav" %>'><%= link_to t('activerecord.models.projects'), projects_path %></li>
		<li class='<% if @active_menu == "customer" ? "active" : "nav" %>'><%= link_to t('activerecord.models.customers'), customers_path %></li>
		<li class='<% if @active_menu == "service" ? "active" : "nav" %>'><%= link_to t('activerecord.models.services'), services_path %></li>
		<li class='<% if @active_menu == "users/tt_index" ? "active" : "nav" %>'><%= link_to t('labels.roles.projectevaluator'), :controller => "users", :action => "tt_index" %></li>
	<% elsif current_user.is? :administrator %>
		<li class='<% if @active_menu == "users/adm_index" ? "active" : "nav" %>'><%= link_to t('activerecord.models.users'), :controller => "users", :action => "adm_index" %></li>
	<% end %>
	
	<% if current_user.is? :administrator %>
		<li class='<% if @active_menu == "users/adm_show" ? "active" : "nav" %> visible-xs'><%= link_to t('labels.person.my_account'), :controller => "users", :action => "adm_show" %></li>
	<% elsif current_user.is? :time_tracker %>
		<li class='<% if @active_menu == "users/tt_show" ? "active" : "nav" %> visible-xs'><%= link_to t('labels.person.my_account'), :controller => "users", :action => "tt_show" %></li>
	<% elsif current_user.is? :project_evaluator %>
		<li class='<% if @active_menu == "users/pe_show" ? "active" : "nav" %> visible-xs'><%= link_to t('labels.person.my_account'), :controller => "users", :action => "pe_show" %></li>
	<% end %>
		<li class='nav danger visible-xs'><%= link_to(t('labels.actions.logout'), destroy_user_session_path)  %></li>
<% else %>
		<li class='nav success visible-xs'><%= link_to(t('labels.actions.login'), new_user_session_path)  %></li>
<% end %>
