# encoding: UTF-8

<!DOCTYPE html>
<html>
  <head>
    <title>Shiny-Ninja</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <div id="header">
    <%= render "layouts/header" %>
  </div>

  <body>
    <div id="navigation">
      <%= render "layouts/navigation" %>
    </div>

    <div id="breadcrump">
      <%= render_breadcrumbs %>
    </div>

    <div id="user_control">
      <%= render "layouts/user_control" %>
    </div>

    <div id="content">
<%# step 3 in devise installation %>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <h1><%= @head1 %></h1>
      <%= yield %>
    </div>

    <%# if user_signed_in? %>
      <%#  if @search_bar == true %>
        <div id="search-bar">
          <h2>Filter ...</h2>
          <%# render "search_bar" %>
        </div>
        <div id="sidebar-with-search-bar">
        <%#  else %>
          <div id="sidebar-without-search-bar">
          <%# end %>

          <%= render "layouts/sidebar" %>
        </div>
      <%# end%>

      <div id="footer">
        <%= render "layouts/footer" %>
      </div>

  </body>
</html>
