# encoding: UTF-8

<!DOCTYPE html>
<html>
  <head>
    <title>Shiny-Ninja</title>
<%#= stylesheet_link_tag    "application", :media => "all" %>
    <%= stylesheet_link_tag    "bootstrap.min", :rel => "stylesheet", :media => "screen" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <div class="row-fluid">
      <div class="span12">
        <div class="navbar">
          <div class="navbar-inner">
            <a class="brand" href="#">ShinyNinja</a>

            <ul class="nav">
              <%= render "layouts/navigation" %>
            </ul>

            <div class="navbar pull-right">
              <%= render "layouts/user_control" %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid">
<%#= render "layouts/breadcrumbs" %> 
      <%= render "layouts/alerts" %> 
    </div>


    <div class="container-fluid">
      <%= yield %>
    </div>






    <footer class="footer">
      <div class="container">
        <p> <%# Developed by development AT koriath-tech.de %> </p>
      </div>
    </footer>



  </body>



</html>
