# encoding: UTF-8

<!DOCTYPE html>
<html>
  <head>
    <title>ShinyNinja</title>
    <%= stylesheet_link_tag    "bootstrap", :rel => "stylesheet" %>
    <%= stylesheet_link_tag    "jquery-ui-1.10.3.custom", :rel => "stylesheet" %>
    <%= stylesheet_link_tag    "application", :rel => "stylesheet" %>
    <%= javascript_include_tag "application" %>
<%#<script src="//code.jquery.com/jquery.js"></script> %>
    <%= javascript_include_tag "jquery-1.9.1" %>
    <%= javascript_include_tag "bootstrap" %>
    <%= javascript_include_tag "jquery-ui-1.10.3.custom" %>
    <%= javascript_include_tag "my_functions.js" %>

    <%# Set Viewport, Initial Scaling, Restrict Scaling by User, Hide Safari Address Bar on iOS, WebApp-Images for iOS and Android %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <%= favicon_link_tag 'webapp/AppIcon57x57.png', rel: 'apple-touch-icon-precomposed', type: 'image/png', sizes: '57x57' %>
    <%= favicon_link_tag 'webapp/AppIcon57x57@2x.png', rel: 'apple-touch-icon-precomposed', type: 'image/png', sizes: '114x114' %>    
    <%= favicon_link_tag 'webapp/AppIcon60x60.png', rel: 'apple-touch-icon-precomposed', type: 'image/png', sizes: '60x60' %>
    <%= favicon_link_tag 'webapp/AppIcon60x60@2x.png', rel: 'apple-touch-icon-precomposed', type: 'image/png', sizes: '120x120' %>    
    <%= favicon_link_tag 'webapp/AppIcon72x72.png', rel: 'apple-touch-icon-precomposed', type: 'image/png', sizes: '72x72' %>
    <%= favicon_link_tag 'webapp/AppIcon72x72@2x.png', rel: 'apple-touch-icon-precomposed', type: 'image/png', sizes: '144x144' %>    
    <%= favicon_link_tag 'webapp/AppIcon76x76.png', rel: 'apple-touch-icon-precomposed', type: 'image/png', sizes: '76x76' %>
    <%= favicon_link_tag 'webapp/AppIcon76x76@2x.png', rel: 'apple-touch-icon-precomposed', type: 'image/png', sizes: '152x152' %>
  
    <%= csrf_meta_tags %>


  </head>
  <body>

    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to "ShinyNinja", root_path, class: "navbar-brand" %>
      </div>

      <div class="navbar-collapse collapse">        
          <%= render "layouts/navigation" %>
          <%= render "layouts/user_control" %>
      </div>
    </nav>

<%#= render "layouts/breadcrumbs" %> 
    <%= render "layouts/alerts" %> 

    <div class="container">
      <%= yield %>
    </div>


    <footer class="modal-footer" role="contentinfo">
      <div class="container">
        <%= render "layouts/footer" %>

      </div>
    </footer>

  </body>
</html>
